.container {
    margin-top: var(--header-height);
    height: 1000vh;
    width: 100%;
}

.container--box {
    display: flex;
}
.container--box > div:nth-child(2) {
    flex: 1;
    background-color: aquamarine;
}
